html {
  background-color: #f5fff4;
  font-family: 'Nunito', sans-serif;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
    max-width: 300px;
    min-width: 200px;
    width: 75%;
}

header nav li a {
  text-decoration: none;
  color: #053800;
  margin: 7;
}

header nav li a:hover {
  border-bottom: 2px solid #053800;
}

.banner-container {
  width: 100%;
  padding: 200px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

.banner-container::before{
  background: rgba(0, 0, 0, 0)-webkit-linear-gradient(bottom left, rgba(150, 150, 150, .5) 0%, rgba(150, 150, 150, .5) 100%) repeat;
  content: "";
  position: absolute;
  display: block;
  height: 43.4%;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 4.7em;
}

.banner-main {
  background-image: url("../images/background.jpg");
}

.banner-rescues {
  background-image: url("../images/babay.jpg");
}

.banner-adopt {
  background-image: url("../images/rhinos.jpg");
}

.banner-wrapper h1 {
  margin-top: 2em;
  color: #fff;
}

.banner-wrapper p {
  margin-top: 6em;
  color: #fff;
}

.mission {
  margin-left: 23px;
  padding-top: 15px;
  color: #053800;
}

.btn {
  color: #053800;
  background-color: #f5fff4;
  border-color: #053800;
}

.btn:hover {
  color: #fff;
  background-color: #053800;
  border-color: #053800;
}

footer {
  background-color: #053800;
  color: #fff;
}

.foot {
  margin-left: 23px;
  text-align: center;
}

h3 {
  font-weight: bold;
}

@media only screen and (min-width: 25em) {

  header nav {
    text-align: right;
  }

  .banner-container::before{
    background: rgba(0, 0, 0, 0)-webkit-linear-gradient(bottom left, rgba(150, 150, 150, .5) 0%, rgba(150, 150, 150, .5) 100%) repeat;
    content: "";
    position: absolute;
    display: block;
    height: 44.2%;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 4.7em;
  }

}

@media only screen and (min-width: 38em) {

  header nav {
    text-align: right;
  }

  .banner-container::before{
    background: rgba(0, 0, 0, 0)-webkit-linear-gradient(bottom left, rgba(150, 150, 150, .5) 0%, rgba(150, 150, 150, .5) 100%) repeat;
    content: "";
    position: absolute;
    display: block;
    height: 44.2%;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 4.7em;
  }

}


@media only screen and (min-width: 60em) {

  header nav {
    text-align: right;
  }

  .banner-container::before{
    background: rgba(0, 0, 0, 0)-webkit-linear-gradient(bottom left, rgba(150, 150, 150, .5) 0%, rgba(150, 150, 150, .5) 100%) repeat;
    content: "";
    position: absolute;
    display: block;
    height: 44.2%;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 3em;
  }
}

@media only screen and (min-width: 90em) {

  header nav {
    text-align: right;
  }
}
